/* Universal selector */
* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background color of webpage */
body {
    background-color: #d9dcd6;
}
/* Header font family, background color and text color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Name display type and font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* change of color for letters seo */
.header h1 .seo {
    color: #d9dcd6;
}
/* Navigation bar style, position, font family and size */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Navigation bar list style type */
.header nav ul {
    list-style-type: none;
}
/* Navigation bar type and margin adjustment */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Hyperlinks color */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Paragraphs font size */
p {
    font-size: 16px;
}
/* Website mainimage dimensions, background size and positioning */
#mainimg {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* Image position */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Image position */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Mainpage cotent display and positoning */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* ID defining positioning, font and background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* IDs defining margin and font color */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* selecting multiple elements with class */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Footer font style and positioning */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
